# Terraform files
.terraform/

# Local .tfstate files
*.tfstate
*.tfstate.*
.*
.terraform.lock.hcl
.terraform
terraform.tfstate


# Crash log files
crash.log

# Exclude override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Exclude CLI configuration files
.terraformrc
terraform.rc

**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*
*.terraform

# other files: 
main.out
plan.out
plan.json
plan.png
Documentation_with Infrastructure_and_Architecture_diagram.docx
FinalArchitecture.png